{% extends 'base.html' %}
{% load static %}
{% block title %}Мои билеты{% endblock %}
{% block link %}
 <link rel="stylesheet" href="{% static 'css/history.css'%}">
{% endblock %}
{% block content %}
<div class="container_content">
                <div class="history_top">
                    <div class="history_container">
                        {% for item in tickets %}
                        <div class="history_element">
                            <div class="history_info">
                                <div class="history_name">Фильм: {{item.film.title}}</div>
                                <div class="history_date">Дата: {{item.time.date.date}}</div>
                                <div class="history_time">Время: {{item.time.time}}</div>
                            </div>
                            <div class="history_seats">
                                <div class="history_seat">
                                    Ряд: {{item.place.row}} Место: {{item.place.place}}
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
</div>

{% endblock %}